.ButtonSlider {
    display: flex;
    flex-direction: column;
    height: 304px;
    justify-content: space-between;
}

.numbered-button {
    width: 80px;
    height: 80px;
    border: 1px solid #4e5258;
    background-color: #11ffee00;
    color: #FFFFFF;
}

.numbered-button:hover {
    background-color: #FFFFFF;
    border: 1px solid #0B0D17;
    color: #0B0D17;
}