.CrewCard__content {
    display: flex;
}

.CrewCard__text {
    margin-top: 154px;
    margin-right: 20px;
}

.text-container {
    width: 614px;
}

.description {
    width: 444px;
    line-height: 32px;
}

.CrewCard__header--secondary {
    margin-top: 0px;
    margin-bottom: 15px;
}

.CrewCard__header--main {
    margin-top: 0px;
    margin-bottom: 27px;
}

.CrewCard__description {
    margin-top: 0px;
    margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
.CrewCard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CrewCard__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 768px;
}

.CrewCard__text {
    margin-right: 0px;
    margin-top: 60px;
}

.CrewCard__description {
    margin-bottom: 40px;
}

.CrewCard h1 {
    position: relative;
    left: -187px;
}


.text-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crewImg {
    margin-top: 40px;
}

}
