.IntroScreen {
    width: inherit;
    position: relative;
}

.IntroScreen__img {
    position: absolute;
}

.img--background {
    width: 2085.04px;
    height: 954px;
    mix-blend-mode: screen;
}

.text-container {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.IntroScreen__text-div {
    position: relative;
    top: 387px;
    left: 165px;
}

.IntroScreen__text--no-top-and-bottom-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.IntroScreen__large-word {
    margin-top: 24px;
    margin-bottom: 24px;
}

.IntroScreen__button {
    position: absolute;
/*     top: 495px;
    left: 1001px;
 */}

button {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
}

.IntroScreen__button-container {
    position: absolute;
    top: 495px;
    left: 1011px;
    width: 274px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IntroScreen__button-container .circle {
    display: none;
}

.IntroScreen__button-container:hover .circle {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: #979797;
    opacity: 10.36%;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}