.dot {
    border-radius: 50%;
    opacity: 17%;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #979797;
}

.dot:hover {
    opacity: 50%;
    cursor: pointer;
}

.active {
    opacity: 100%;
    background: #FFFFFF;
}

.PageIndicator {
    display: flex;
    justify-content: space-between;
    width: 132px;
}