.TechCard__content {
    display: flex;
}

.intro-text-before-header {
    font-size: 0.889rem;
    letter-spacing: 2.7px;
}

.TechCard__text {
    margin-left: 80px;
    margin-top: 137px;
    width: 470px;
}

.TechCard__ButtonSlider {
    margin-top: 137px;
}

.TechCard__header--main {
    margin-top: 11px;
    margin-bottom: 17px;
}

.TechCard__intro-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.TechCard__description {
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    width: 444px;
}

.header {
    max-width: 470px;
}

.img {
    max-width: 515px;
    object-fit: contain;
}

.TechCard__img-container {
    margin-top: 26px;
    position: absolute;
    right: 0;
}