
body {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #FFFFFF;
  background-color: #0B0D17;
  width: 1440px;
  margin: 0;
/*   background-image:
    url('https://i.postimg.cc/fLBv9rzG/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;
 */}

.App__NavBar {
  margin-left: 55px;
  margin-top: 40px;
  position: absolute;
  z-index: 2;
}

.App__cards {
  padding-top: 212px;
  margin-left: 166px;
}

/*//////////////
Tablet styles
/////////////*/

@media screen and (max-width: 768px) {
body {
  width: 768px;
  font-size: 16px;
}

.App__NavBar {
  margin-left: 39px;
  margin-top: 0px;
}

.App__cards {
  padding-top: 136px;
  margin-left: 38.5px;
}

}
