
body {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #FFFFFF;
  background-color: #0B0D17;
  width: 1440px;
  margin: 0;
}

.App__NavBar {
  margin-left: 55px;
  margin-top: 40px;
  position: absolute;
  z-index: 2;
}

.App__cards {
  padding-top: 212px;
  margin-left: 166px;
}
